body{
    background-color: aqua;

    color: black;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
}

#count{
    font-size: 200px;

    font-weight: bold;

    margin: 30px;
}

button{
    font-size: 200px;

    padding: 15px 50px;

    border: none;

    border-radius: 20px;

    background-color: bisque;

    color: aquamarine;

    cursor: pointer;

}